/* Set color, font, etc */
:root{
    --orange:#FF7A3E;
    --black:#303030;
    --white:#FFFFFF;
    --background: #F1F2F6;
}

@font-face {
    font-family: bold ;
    src: url(../font/Inter-Bold.ttf);
}

@font-face {
    font-family: regular ;
    src: url(../font/Inter-Regular.ttf);
}

html {
    scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
} 

/* Styling */
* {
    box-sizing: border-box;
    margin:0px;
    padding: 0;
}

body {
    background-color: var(--background);
    min-height: 200vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 30px 65px;
    z-index: 100000;
}

header.sticky {
    padding: 0px 100px;
    background: var(--orange);
}

#logo {
    position: relative;
    width: 100px;
    color: var(--white);
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: var(--black);
    letter-spacing: 1px;
    font-family: regular;
    transition: 0.6s;
}

header.sticky .logo,
header.sticky ul li a {
    color: var(--white);
}

.product {
    position: relative;
    width: 100%;
    height:100vh;
}

.benefit {
    position: relative;
    width: 100%;
    height:100vh;
}

.pricing {
    position: relative;
    width: 100%;
    height:100vh;
}

.testimonial {
    position: relative;
    width: 100%;
    height:100vh;
}

#testimonial{
    height:200px;
    background-color: var(--orange);
    width:auto;
    display:flex;
    justify-content: flex-start;
    overflow: hidden;
}

#testimonial > img{   
    margin-top: 40px;
    margin-bottom: 40px;
    animation: move-rtl 1000000ms linear infinite;
    padding: 0 2rem;
    animation-fill-mode: both;
}

@keyframes move-rtl {
    0% {transform: translateX(0);}
    100% {transform: translateX(-100%);}
}

#main_illustration {
    margin-top: 100px;
    display: inline-flex;
    align-items: center;
    justify-content:center;
    margin-bottom: 30px;
}
#illustration {
    margin-left:30px;
}

#illustration_text {
    position: absolute;
    right: 30px;
    margin-right: 20px;
    color:var(--black);
}

#illustration_text > h1 {
    font-size: 48px ;
    font-family: bold;
    line-height:50px;
}

#illustration_text > p {
    font-size:20px;
    font-family: regular;
    margin-top: 14px;
}

#icon {
    margin-left:100px;
    display:flex;
    gap:100px;
}

#button {
    display: flex;
    justify-content:center;
    align-items: center;
    gap:45px;
    color:var(--white);
    font-family: bold;
    font-weight: bold;
    font-size: 13px;
    background-color: var(--orange);
    border-radius: 10px;
    width: 170px;
    height: 50px;
    margin-top: 20px;
    cursor: hand;
}

#button:hover {
    background-color: #e7713b;
    cursor: hand;
}

#workflow {
    margin-top: 40px;
    margin-bottom: 40px;
}
#workflow > h1 {
    font-family: bold;
    color:var(--black);
    font-size: 32px;
    margin-left:40px;
}

#workflowContent{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#workflowContent > div {
    padding:10px;
   }

#workflowContent  .workflow_picture {
    border-radius: 15px 50px;
}


#title h2{
    font-family: bold;
    color:var(--black);
    font-size: 32px;
    
}
#plan1, #play2, #play3{
    border: 1px solid var(--black);
}